-f https://shi-labs.com/natten/wheels/cu117/torch2.0.0/index.html
accelerate
accelerate
controlnet_aux==0.0.7
einops
git+https://github.com/huggingface/diffusers.git
mediapipe
natten
requests
safetensors
scipy
timm
torch
torchvision
transformers
types-requests
websockets
xformers
